@use "/src/globals/styles/partials/mixins";

header {
  height: 100vh;
  background-image: url("/assets/images/account/bg_1.jpg"),
    linear-gradient(to bottom, #0b0b0c 50px, rgba(0, 0, 0, 0.356));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.banner-title {
  font-family: "BEYNO", sans-serif;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  @include mixins.mq_lg {
    text-align: left;
  }
}

.wrapper {
  padding: 5rem;

  p {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 1.2rem;
  }
}

input {
  appearance: auto;
}
