<header class="d-flex align-items-center">
  <h1 class="banner-title pt-4">
    Votre identite <br />
    secrete...
  </h1>
</header>

<section class="wrapper">
  <div class="row">
    <aside class="col-4">
      <ul>
        <li><a href=""> Mes informations </a></li>
        <li><a href=""> Historique des commandes </a></li>
        <li><a href=""> Mes avis</a></li>
        <li><a href=""> Mes favoris </a></li>
      </ul>

      <button class="cta">deconnexion</button>
    </aside>

    <div class="col-8">
      <div class="border-start px-4 py-3 mb-5">
        <h2 class="border-bottom border-white pb-3 mb-4 fs-2 fw-bold">
          Informations personnelles
        </h2>
        <p>Nom: Lorem ipsum dolor sit amet.</p>
        <p>Prénoms: Lorem ipsum dolor sit amet.</p>
        <p>Email: example@example.com</p>

        <button class="cta mt-5">modifier</button>
      </div>

      <div class="border-start px-4 py-3">
        <h2 class="border-bottom border-white pb-3 mb-4 fs-2 fw-bold">
          Newsletter
        </h2>
        <p>
          Abonnez vous à la newsletter ! Ne ratez pas nos offres exceptionnels
          sur votre article préféré !
        </p>

        <form class="px-5 py-4 mb-">
          <div class="form-check">
            <input
              class="form-check-input"
              name="radio"
              type="radio"
              id="yes"
            />
            <label class="form-check-label" for="yes"> yes </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              name="radio"
              type="radio"
              id="no"
              checked
            />
            <label class="form-check-label" for="no"> no </label>
          </div>
        </form>

        <button class="cta mt-5">enregistrer</button>
      </div>
    </div>
  </div>
</section>
