<header class="d-flex align-items-center">
  <h1 class="banner-title pt-4">
    Votre identite <br />
    secrete...
  </h1>
</header>

<section class="wrapper">
  <div class="row">
    <aside class="col-4">
      <ul>
        <li>
          <a
            routerLink="/account"
            routerLinkActive="rl-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Mes informations
          </a>
        </li>
        <li>
          <a routerLink="/account/order-history" routerLinkActive="rl-active">
            Historique des commandes
          </a>
        </li>
      </ul>

      <button class="cta">deconnexion</button>
    </aside>

    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
