.form-select {
  width: max-content;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff;
}
.form-select option {
  background-color: #000;
}
.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(8%)
    hue-rotate(146deg) brightness(103%) contrast(103%);
}
.article-wrapper {
  row-gap: 4rem;
}
