<div class="d-flex justify-content-between py-4 mt-5 pe-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb text-capitalize">
      <li class="breadcrumb-item">
        <a href="#" routerLink="/e-shop">e-shop</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">panier</li>
    </ol>
  </nav>

  <app-basket-img></app-basket-img>
</div>

<section class="row">
  <article class="d-none d-sm-block col-sm-5 col-md-3">
    <app-filter></app-filter>
  </article>
  <article class="col-sm-7 col-md-9">
    <app-results></app-results>
  </article>
</section>
