<aside class="aside">
  <div class="aside-line"></div>
  <div class="aside-content">
    <div class="aside-line"></div>
    <div class="aside-socials">
      <a
        target="_blank"
        href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      >
        <img src="/assets/images/all/icon_facebook.png" alt="" />
      </a>
      <a
        target="_blank"
        href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      >
        <img src="/assets/images/all/icon_instagram.png" alt="" />
      </a>
      <a
        target="_blank"
        href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      >
        <img src="/assets/images/all/icon_twitter.png" alt="" />
      </a>
      <a
        target="_blank"
        href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      >
        <img src="/assets/images/all/icon_tiktok.png" alt="" />
      </a>
    </div>
  </div>
</aside>
