<nav class="nav">
  <div class="nav-wrapper">
    <a href="#header" class="logo nav-logo">
      <img src="/assets/images/all/footer2.png" alt="Logo" />
    </a>
    <div class="nav-links">
      <!-- 
        we need to let the components at paths "/", "/wakanda" and "enigmas"
        to reload in order to load JQuery, otherwise the animations won't work 
      -->
      <a
        class="nav-link"
        href="/"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <!-- 
          the nested routerLink is used only to be able to style the active route
         -->
        <span [routerLink]="['/']"> Accueil </span>
      </a>
      <a class="nav-link" href="/wakanda" routerLinkActive="nav-link-active">
        <span [routerLink]="['/wakanda']"> Wakanda </span>
      </a>
      <a class="nav-link" href="/enigmas" routerLinkActive="nav-link-active">
        <span [routerLink]="['/enigmas']"> Enigme </span>
      </a>

      <!-- 
        these paths contain the brand new components hence do not need to be reloaded 
      -->
      <a
        class="nav-link"
        [routerLink]="['/e-shop']"
        routerLinkActive="nav-link-active"
      >
        E-Shop
      </a>
      <a
        class="nav-link"
        [routerLink]="['/account']"
        routerLinkActive="nav-link-active"
      >
        Account
      </a>
    </div>
  </div>
</nav>
