<section id="enigmas">
  <header id="header">
    <app-navbar></app-navbar>
    <section class="banner with-fade-in">
      <div>
        <div class="banner-wrapper-text">
          <h1 class="banner-title with-fade-in">
            Releve le defi des dora milaje
          </h1>
          <p class="banner-description enigma-rounded">
            Les Dora Milaje sont de farouches guerrières d'élite. Elles
            constituent la garde rapprochée du Roi en personne et ont de
            nombreuses occasions de lui sauver la vie. Leur Générale, Okoyé est
            également la dirigeante des forces armées et des renseignements
            wakandais.
            <br />
            Prouve ton talent d'espion et déchiffre cette réplique d'Okoyé
            écrite en Wakandais, et apprend par la même occasion la première
            valeur d'une Dora Milaje !
          </p>
        </div>
      </div>
    </section>
  </header>

  <section class="section-enigmas with-fade-in">
    <p class="section-enigmas-question-number">
      <span class="section-title">ENIGME NUMERO </span>
      <span class="enigmas-number">
        <!-- HERE GOES THE CURRENT ENIGMAS NUMBER -->
      </span>
    </p>
    <div class="section-enigmas-solution-wrapper">
      <div class="section-enigmas-problem-wrapper">
        <p class="enigmas-instruction">
          <!-- HERE GOES THE INSTRUCTION -->
        </p>
        <p class="enigmas-problem">
          <!-- HERE GOES THE ACTUAL PROBLEM -->
        </p>
      </div>
      <div class="enigmas-hint enigma-rounded enigma-rounded-rotated">
        <p class="enigmas-hint-title">
          <!-- HERE GOES THE HINT TITLE -->
        </p>
        <p class="enigmas-hint-body">
          <!-- HERE GOES THE HINT BODY -->
        </p>
      </div>
    </div>
    <form action="" id="form-reply">
      <p>Alors, as tu la réponse ?</p>
      <input type="text" placeholder="Réponse" required />
      <button type="submit" class="btn">Envoyer</button>
    </form>
  </section>

  <aside class="popup">
    <div class="popup-body">
      <h1>Bravo !</h1>
      <p>Tu as trouvé la réponse. Es tu prêt pour l'énigme suivante?</p>
      <button type="button" class="btn" id="btn-next-question">
        Question suivante
      </button>
    </div>
  </aside>
</section>
