.card {
  cursor: pointer;
}
.card-img-top {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}
.card-body {
  background-color: #000;
}
.prev-price {
  color: #959595;
}
