.cart-title {
  color: #9e91b7;
}

.btn-continue {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
}
.btn-continue:hover {
  background-color: #160634;
}
