<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-image">
      <img src="/assets/images/all/footer1.png" alt="Footer" />
      <a href="#header" class="logo footer-image-logo">
        <img src="/assets/images/all/footer2.png" alt="Logo" />
      </a>
    </div>

    <div>
      <div class="footer-links">
        <div>
          <h4 class="footer-links-title">Pages</h4>
          <div class="footer-links-navigation">
            <p>
              <a href="/">À propos</a>
            </p>
            <p>
              <a href="/wakanda.html">Wakanda</a>
            </p>
          </div>
        </div>
        <div>
          <h4 class="footer-links-title">Retrouvez nous</h4>
          <div class="footer-links-socials">
            <a
              target="_blank"
              href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            >
              <img src="/assets/images/all/footer3.png" alt="Facebook" />
            </a>
            <a
              target="_blank"
              href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            >
              <img src="/assets/images/all/footer4.png" alt="Instagram" />
            </a>
            <a
              target="_blank"
              href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            >
              <img src="/assets/images/all/footer5.png" alt="Twitter" />
            </a>
            <a
              target="_blank"
              href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            >
              <img src="/assets/images/all/footer6.png" alt="Tiktok" />
            </a>
          </div>
        </div>
      </div>

      <small class="footer-copyright">
        <span>2022 Tous droits réservés</span>
        <span> Politique de confidentialité</span>
        <span> Conditions d'utilisation</span>
      </small>
    </div>
  </div>
</footer>
